body{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 300px;
    background-color: 	#0c82e2af;

}


#tela{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 200px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    border: 2px solid #0000009a; 
    border-radius: 15px;
    padding: 25px;
    width: 980px;   
  
    

}

    form {
        background-color: #fff;
        padding: 15px;
        margin: 0 auto;
        border-radius: 10px;
        width: 400px;
        margin-top: 10%;
        text-align: left;

    }
    
    .fa-solid{
        font-size: 90px;
        color: rgb(255, 255, 255);
        margin-left: 15px;

    }
     
    
    button {
        color: #ffffff;
        padding: 5px 10px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s ease;
    }

    .img_cad{
        margin-top: 50%;
    }